.places__image {
  width: 100%;

 background: url(nikita-tikhomirov-1153188-unsplash.jpg);
 grid-column: span 1;
 grid-row: span 2;
}

@media(max-width: 1024px) {
  .places__image {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .places__image {
    width: 100%;
  }
}

@media(max-width: 320px) {
  .places__image {
    width: 100%;
    grid-column: 1;
    grid-row: 3;
  }
}