.content {
  padding-bottom: 80px;
}

@media (max-width: 1024px) {
  .content {
    padding-bottom: 87px;
  }
}


@media (max-width: 768px) {
  .content {
    padding-bottom: 75px;
  }
}


@media (max-width: 320px) {
  .content {
    padding-bottom: 64px;
  }
}

