.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  min-width: 186px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media(max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    padding: 0 118px 0 16px;
    margin: 0;
  }
}
