.places__place {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  box-sizing: border-box;
  gap: 48px 40px;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
}

@media(max-width: 1024px) {
  .places__place {
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media(max-width: 768px) {
  .places__place {
    max-width: 720px;
    padding-bottom: 73px;
    gap: 48px 28px;
  }
}


@media(max-width: 320px) {
  .places__place {
    padding-bottom: 50px;
    gap: 32px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(1, auto);
  }
}

